:root {
    --color-light: rgba(132, 139, 200, 0.18);
    --color-white: #fff;
    --card-border-radius: 2rem;
    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-dark-variant: #677483;
  
  }
  table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  table:hover {
    box-shadow: none;
  }
  
  table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
  }
  table tbody tr:last-child td {
    border: none;
  }
  .imageEnseignant > div > img{
    border-radius: 50%;
  }
  .imageEnseignant{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enseignantDiv >p{
    padding: 0;
    margin: 0;
  }
  .enseignantDiv{
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding:0px 4px;
    cursor: pointer;
  }
  .enseignantDiv .ensegnantStatus{
    font-size: 12px;
    color: rgb(126, 126, 101);
  }
  .enseignantDiv .enseignantNom{
    font-weight: 700;
  }
  .enseignantDiv:hover{
    background-color: #dedede;
    transition: 0.5s all ease-in;
  }
  