.cours::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.cours::-webkit-scrollbar-track {
  background: #c9cacc;
}
.cours::-webkit-scrollbar-thumb {
  background: #3d5585;
  border-radius: 10px;
}
.cours::-webkit-scrollbar-thumb:hover {
  background: #01143b;
}